<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daemin.timetable"
    android:versionCode="22"
    android:versionName="2.1.8" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <!--  Dangerous Permissions -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--Normal Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.daemin.common.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <!-- android:largeHeap="true" -->
        <activity
            android:name="com.daemin.main.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daemin.main.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/app_menu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.daemin.main.ExplainActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.daemin.map.MapActivity" />
       <activity android:name="com.daemin.community.github.GithubActivity" />
        <activity android:name="com.daemin.community.amazon.AmazonActivity" />
        <activity android:name="com.daemin.community.lib.DoubleTapZoomNetworkImageViewActivity" />
        <activity android:name="com.daemin.community.lib.SingleTapZoomNetworkImageViewActivity" />
        <activity
            android:name="com.daemin.dialog.DialSchedule"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:launchMode="singleTask"/>
        <activity android:name="com.daemin.dialog.DialEnroll" android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <receiver android:name="com.daemin.widget.Widget4_4">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget4_config" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.daemin.widget.ACTION_WEEK4_4" />
                <action android:name="com.daemin.widget.ACTION_MONTH4_4" />
                <action android:name="com.daemin.widget.ACTION_BACK4_4" />
                <action android:name="com.daemin.widget.ACTION_FORWARD4_4" />
                <action android:name="com.daemin.widget.ACTION_DIAL4_4" />
                <action android:name="com.daemin.widget.ACTION_HOME4_4" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.daemin.widget.Widget5_5">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget5_config" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.daemin.widget.ACTION_WEEK5_5" />
                <action android:name="com.daemin.widget.ACTION_MONTH5_5" />
                <action android:name="com.daemin.widget.ACTION_BACK5_5" />
                <action android:name="com.daemin.widget.ACTION_FORWARD5_5" />
                <action android:name="com.daemin.widget.ACTION_DIAL5_5" />
                <action android:name="com.daemin.widget.ACTION_HOME5_5" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.daemin.widget.Widget5_5_1">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget5_1config" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.daemin.widget.ACTION_DUMMY5_5_1" />
                <action android:name="com.daemin.widget.ACTION_WEEK5_5_1" />
                <action android:name="com.daemin.widget.ACTION_MONTH5_5_1" />
                <action android:name="com.daemin.widget.ACTION_BACK5_5_1" />
                <action android:name="com.daemin.widget.ACTION_FORWARD5_5_1" />
                <action android:name="com.daemin.widget.ACTION_DIAL5_5_1" />
                <action android:name="com.daemin.widget.ACTION_HOME5_5_1" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.daemin.common.NotificationReceiver" android:enabled="true" >
            <intent-filter>
                <action android:name="com.daemin.common.ALARM_PUSH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.daemin.widget.WidgetUpdateService"
            android:enabled="true"
        />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9GR7rusz_TKHNtfKvmhr8b8dqkkdxgFo" />

    </application>

</manifest>
